.DS_Store
dest/*
node_modules/*
gulp/node_modules/*
gulp/dist/*
gulp/images/*
grunt/dist/*
grunt/images/*
gitDeploy/rev/*
gitDeploy/dist/*
npm-debug.log
grunt/node_modules/*
react/dva/node_modules/*
react/redux/node_modules/*
react/simpleReact/node_modules/*
react/simpleReact/dist/*
webpack/node_modules/*
socket.io/server/node_modules/*
.sass-cache/
*.css.map