.radius-btn{
  border-radius: 5px;
  cursor:pointer;
  padding:5px;
  margin: 5px;
  background-color: #eee;
}
.radius-btn:hover{
  background-color:#ddd;
}
.demo {
  display: none;
}
body {
  /*background-color: #EFEFEF;*/
  background-color: #fff;
}