
@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1500017742814'); /* IE9*/
  src: url('iconfont.eot?t=1500017742814#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500017742814') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500017742814') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500017742814#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cry:before { content: "\e69c"; }

.icon-help:before { content: "\e6a3"; }

.icon-information:before { content: "\e6a4"; }
