/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-icon_douban {
  background-image: url(../images/mySprite_2.png);
  background-position: 0px 0px;
  width: 54px;
  height: 54px;
}
.icon-icon_qq {
  background-image: url(../images/mySprite_2.png);
  background-position: -54px 0px;
  width: 54px;
  height: 54px;
}
.icon-icon_renren {
  background-image: url(../images/mySprite_2.png);
  background-position: 0px -54px;
  width: 54px;
  height: 54px;
}
.icon-icon_weibo {
  background-image: url(../images/mySprite_2.png);
  background-position: -54px -54px;
  width: 54px;
  height: 54px;
}
