/*
 sass 7大特性：
 变量、嵌套、导入、mixin（函数）、继承、运算、颜色
*/
// 变量
$xqColor: #333;
$fontBlue: #5fdfe8;
$fontGray: #ccc;
body { font-family: Helvetica, sans-serif; color: $xqColor; }

// 嵌套
.sass_features { 
	color:$xqColor; width:100%; text-align: left; 
	li{ color:$fontGray; }
	.key_point{ font-weight:bolder; color:$fontBlue; }
}
