<!DOCTYPE html>
<html>
    <head>
      <meta name="renderer" content="webkit">
      <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
      <meta charset="utf-8">
      <title>
        vue 学习 表单处理
      </title>
    </head>
    
    <body>
      <h3>vue 表单处理</h3>

      <form id="demo">
        <!-- text -->
        <p>
          <input type="text" v-model="msg">
          <!-- <input type="text" v-model="msg" number> -->
          <!-- 惰性更新 -->
          <!-- <input type="text" v-model="msg" lazy> -->
          {{msg}}
        </p>
        <!-- checkbox -->
        <p>
          <input type="checkbox" v-model="checked">
          {{checked ? "yes" : "no"}}
        </p>
        <!-- radio buttons -->
        <p>
          <input type="radio" name="picked" value="one" v-model="picked">
          <input type="radio" name="picked" value="two" v-model="picked">
          {{picked}}
        </p>
        <!-- select -->
        <p>
          <select v-model="selected">
            <option>one</option>
            <option>two</option>
          </select>
          {{selected}}
        </p>
        <p>
          <select v-model="selected" options="myOptions"></select>
          {{myOptions | json 2}}
        </p>
        <!-- multiple select -->
        <p>
          <select v-model="multiSelect" multiple>
            <option>one</option>
            <option>two</option>
            <option>three</option>
          </select>
          {{multiSelect}}
        </p>
        <p><pre>data: {{$data | json 2}}</pre></p>
      </form>

      <script src="vue.js"></script>
      <script type="text/javascript">
        new Vue({
          el: '#demo',
          data: {
            msg      : 'hi!',
            checked  : true,
            picked   : 'one',
            selected : 'two',
            myOptions : [
              { text: 'A', value: 'one' },
              { text: 'B', value: 'two' }
            ],
            multiSelect: ['one', 'three']
          }
        })
      </script>

    </body>
</html>